body {
	font-family: Arial,sans-serif;
    font-size: .8em;
}

div.board {
	margin-left: auto;
    margin-right: auto;
}

table.board {
	font-size:10pt;
	border-collapse:collapse;
	border:1px solid black;
}

table.board td, th{
	border:1px solid black;
}
table.board td{
	width:30px;
	height:30px;
	text-align: center;
	vertical-align:middle;
}

table.board td img{
	width: 30px;
	height: 30px;
	margin: 0px;
}

table.board td.white{
	background-color:#cccccc;
}
table.board td.white-source{
	background-color:#eff209;
}
table.board td.white-dest{
	background-color:#eff209;
}

table.board td.black{
	background-color:#775555;
}
table.board td.black-source{
	background-color:#c0c211;
}
table.board td.black-dest{
	background-color:#c0c211;
}

a:link {
	text-decoration:none;
	color: #000000;
}
a:visited {
	text-decoration:none;
	color: #000000;
}
a:hover {
		text-decoration:none;
		color: #770000
}
a:active {
	text-decoration:none;
	color: #000000;
}

.loader {
	padding: 1px 10px;
}

.currentMove {
	font-size:15pt;
}
